<div class="hero-copy" [ngsRevealSet]="contractManager.srconfig1" [ngsSelector]="'.main-body,.container-sm'">
    <div class="main-body mat-elevation-z15">
        <div class="container-sm" *ngIf="rideManager._driver_driverMessage"
            style="width:95%;-webkit-transition: left 0.9s ease;
        -moz-transition:left 0.9s ease;transition:left 0.9s ease;padding:1rem;display:flex;flex-direction: column;align-items: center;">
            <div *ngIf="rideManager._driver_fetchedOptimalRideData">
                <div class="cost">
                    <p>{{rideManager._driver_driverMessage}}</p>
                </div>
                <p>Pick-Up Location: {{rideManager._driver_fetchedOptimalRideData.source.result.place_name}}</p>
                <p>Destination: {{rideManager._driver_fetchedOptimalRideData.destination.result.place_name}}</p>
                <p>Distance: {{rideManager._driver_fetchedOptimalRideData.distance/1000}} Km</p>
                <p>Estimated Ride Time:{{secondsToHms(rideManager._driver_fetchedOptimalRideData.duration)}}</p>
                <div class="cost">Cost: <a>₹
                        {{rideManager._driver_fetchedOptimalRideData.costINR}} |
                        {{(rideManager._driver_fetchedOptimalRideData.costETH).toFixed(6)}}ETH</a>
                </div>
                <div [hidden]="rideManager._driver_ongoingRideData">
                    <button class="button button-primary button-shadow button-sp mat-elevation-z7"
                        (click)="acceptRide()">Accept Ride</button>
                    <p>NOTE:You can either accept this ride or wait for sometime then reload this page....</p>
                </div>
            </div>
            <div *ngIf="!rideManager._driver_fetchedOptimalRideData"
                style="display: flex;flex-direction: column-reverse;align-items: center;justify-content: center;">
                <div class="cost">
                    <p>{{rideManager._driver_driverMessage}}</p>
                </div>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>

            </div>
        </div>
        <div class="main">
            <div class="map" id="map" class="match-parent"></div>
            <div class="locations mat-elevation-z-10" [hidden]="rideManager._driver_driverMessage">
                <div id="geocoder" class="geocoder"></div>
            </div>
        </div>
    </div>
</div>